<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include ('./header.ejs') %>
    <%- include ('./flashmessages.ejs') %>
    <form action="/dashboard">
        <div class="form-container">
            <div class="hero">
                <h5>My Profile</h5>
                <button class="primary-light" type="submit"> Save Changes</button>
            </div>
            <div class="input-div">
                <label for="name">Name</label>
                <input type="text" class="dash-input" id="name" name="name" required>
            </div>
            <hr>
            <div class="input-div">
                <label for="name">Email</label>
                <input type="email" class="dash-input" id = "email" name="email"required >
            </div>
            <div class="input-div">
                <label for="gender">Gender</label>
                <input type="text" class="dash-input" id= "gender" name="gender"required >
            </div>
            <div class="input-div">
                <label for="date">Date of Birth</label>
                <input type="date" class="dash-input" id = "date" name="dateofbirth" required>
            </div>
            <div class="input-div">
                <label for="timezone">Timezone</label>
                <input type="text" class="dash-input" name="timezone" id = "timezone" placeholder="enter timezone" required >
            </div>
            <hr>
            <div class="input-div">
                <label for="houseno">House No/Street</label>
                <input type="text" class="dash-input" id="houseno" name="houseno" >
            </div>
            <div class="input-div">
                <label for="colony">Colony/Street/Locality</label>
                <input type="text" class="dash-input" id="colony" name="colony" >
            </div>
            <div class="input-div">
                <label for="city">City</label>
                <input type="text" class="dash-input" id="city" name="city" >
            </div>
            <div class="input-div">
                <label for="state">State</label>
                <input type="text" class="dash-input" id="state" name="state" >
            </div>
            <div class="input-div">
                <label for="country">Country</label>
                <input type="text" class="dash-input" id="country" name="country" >
            </div>
            <hr>
            <div class="input-div">
                <label for="description">Describe Yourself</label>
                <textarea name="description" id="description" rows="2"  placeholder="Describe yourself ..." required></textarea>
            </div>
            <div class="input-div">
                <label for="filename">Upload your profile picture</label>
                <input type="file" id="filename" class="input-class" name="image" required>
            </div>
            <div class="input-div">
                <label for="hospital">Your Hospital</label>
                <input name="hospital" id="hospital" class="input-class" required>
            </div>
            <div class="input-div">
                <label for="achievement">Achievements</label>
                <input name="achievement" class="input-class" id="achievement" required>
            </div>
            <div class="input-div">
                <label for="experience">Years of experience</label>
                <input name="experience" class="input-class" id="experience" required>
            </div>
            <div class="input-div">
                <label for="qualification">Qualifications</label>
                <input name="qualification" class="input-class" id="qualification" required>
            </div>
            <div class="input-div"><label for="awards">Awards</label><input name="awards" id="awards" class="input-class"></div>
            <div class="input-div"><label for="specialization">Specialization</label><input name="specialization" id="specialization" class="input-class"></div>
            <div class="input-div"><label for="fees">Your average Fees</label><input name="fees" id="fees" class="input-class" type="number"></div>
            
            
        </div>
    </form>
    <section class="help">

        <div class="help-wrapper">
            <div class="text-help">
                <h2>Need Help?</h2>
                <p>Just let us know, we will be happy to assist you</p>
            </div>
            <div class="enquiry"><button class="primary-light"><a href="query.ejs">Submit your enquiry</a></button></div>
        </div>
    </section>

    <%- include ('./footer.ejs') %>
    <script src="/js/index.js"></script>
</body>
</html>