<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/reset.css" type="text/css" rel="stylesheet">
    <link href="../assets/css/theme.css" type="text/css" rel="stylesheet">
    <link href="../assets/css/query.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4fd1383274.js" crossorigin="anonymous"></script>
    <title>Query</title>
</head>
<body>
    <nav class="nav-bar">
        <figure class="logo">
            <a href="index.html"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="tvastra logo"></a>
         </figure>
         <div class="icon">
             <i class="fas fa-bars"></i>
         </div>
         <div class="nav-mobile nav-desktop">
             <div class="menu">
                 <ul >
                     <li><a href="./doctor.html">Doctor</a></li>
                     <li><a href="./hospital.html">Hospitals</a></li>
                     <li><a href="./treatment.html">Treatment</a></li>
                     <li><a href="./healthy.html">Other Services</a></li>
                     <li><a href="./tvastra-plus.html">About</a></li>
                 </ul>
             </div>
             <div class="menu-buttons">
                <button class="primary-login"><a href="login.html">Login / Sign Up</a></button>
                <button class="primary-quote" id="quote"><a href="contactus.html">Get a Quote</a></button>
            </div>
        </div>
        </nav>  
        <div class="querybox">
            <form action="post" action="">
                <div class="queries">
                    <div class="heading">
                        <h5>Submit your query</h5>
                    </div>
                    <div class="input-box mobile">
                        <input type="text" name="name" id="name" placeholder="Enter Name">
                    </div>
                    <div class="input-box mobile">
                        <input type="tel" name="mobile-number" id="mobile-number" placeholder="Enter Phone Number">
                    </div>
                    <div class="input-box">
                        <input type="email" name="email" id="email" placeholder="Enter Email">
                    </div>
                    <textarea name="query" id="query" placeholder="Write your query here"></textarea>
                    <div class="btn">
                        <button class="primary-dark" type="submit">SUBMIT<i class="fas fa-arrow-right"></i></button>
                    </div>
                    </div>
            </form>
            <div class="footer">
                <h6>All rights reserved &copy. 2020</h6>
            </div>
        </div>
</body>
</html>