/* -------- HEADER---------*/
.logo {
    width: 40%;
    height: 60%;
}
.nav-desktop{
    display: none;
}
/*----------------------------Hero------------------------------*/
.hero-background{
    display: flex;
    background:url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
    background-size:cover; 
    padding: 5rem 1rem;
    background-position: center;
    justify-content: center;
    text-align: center;
}
.subject p{
    color: var(--white);
    padding-top: 1rem;
    font-size: 1.1rem;
}
/*--------------------------- Accordian -----------------------*/  
/*---------------------------Main-----------------------------*/
.questions{
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: var(--blue);
    cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.anwsers{
    text-align: left;
    background-color: var(--lightest-blue);
    padding:1rem 0rem 1rem 1rem;
    margin-bottom:1.5rem;
    background-color: white;
    display: none;
    overflow: hidden;
}
.anwsers p{
    margin-bottom: 0rem;
    color: var(--text-grey);
}
#last-anwser{
    margin-bottom: 0rem;
}
.wrapper h5{
    margin-bottom: 0rem;
}
/* ---------------HELP------------------*/
.help{
    background-color: var(--light-blue);
}
.secondary{
    width: 12rem;
    
}
/*--------------FOOTER------------------*/
.ft-main {
    align-items: center;
    justify-content: center;
  padding-bottom: 0;
}
.ft-main li{
    color: var(--grey);
    padding-bottom: 1rem;
}
.ft-logo {
    width: 25vw;
    width: 25vh;
}
.social-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.fab {
    padding-right: 1.27rem;
}
.footer1 p{
    color: var(--white);
    font-size: 1rem;
   word-spacing: 0.2rem;
   padding-bottom: 1rem;
}
@media only screen and (min-width:768px){
    .logo{
        width: 10rem;
        padding-left: 1.5rem;
    }
    /*--------------------Main--------------------*/
    .questions{
        margin-bottom: 0.5rem;
    }
    .anwsers{
        margin-bottom: 2.5rem;
    }
     /*----------------help------------------------------------------*/
  .help{
    display: flex;
    flex-direction: column;  
}
.help button{
    justify-self: center;
    align-self: center;
}
/*---------------footer-----------------------------------------*/

.ft-main {
   background-color:var(--white);
   color: var(--dark-blue);
}
.first-footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    justify-content: space-between;
    align-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ft-logo {
    height: 2rem;
    width: 11rem;
   float: right;  
   align-self: center; 
   padding-right: 1rem;
}
.foot-li li {
      display: inline;
      padding-left: 1rem;
     color: var(--dark-blue);
}
.foot-list{
    align-self: center;
}

.footer1 {
   display: flex;
   flex-direction: row-reverse;
   width: 100vw;
   justify-content: space-between; 
   padding-left: 2rem;
}
.ft-final p{
    color: var(--dark-blue);
}
.footer1 p {
    color: var(--dark-blue);
    letter-spacing: normal;
    padding: 1rem;
    word-spacing: 0.2rem;
}
.parent-social {
    align-self: center;
    padding-right: 2rem;
}
}
@media only screen and (min-width:1024px)
{
    /*-----------------padding-----------------*/
    .nav-bar{
        padding-left: 4rem;
        padding-right: 2rem;
    }
    /*-------------Navigation------------------*/
    .icon{
        display: none;
    }
    .logo{
        width: 12rem;
        height: 2rem;
        padding-left: 3rem;
    }
    .nav-desktop{
        display: flex;
        flex-direction: row;
    }
    .nav-desktop li{
        display: inline;
        padding-left: 1rem;
    }
    .menu {
        padding-right: 7rem;
        align-self: center;
    }
    .menu-buttons{
        display: flex;
        align-items: center;
        padding-right: 7rem;
    }
    .login{
        border: 0.007rem solid var(--dark-blue);
        background-color: var(--white);
        padding: 0.7rem 1.5rem 0.7rem;
        font-size: 0.9rem;
        border-radius: 0.2rem;
        margin-right: 0.2rem;
       }
       #quote{
        border: 0.007rem solid var(--dark-blue);
        border-radius: 0.2rem;
        padding: 0.8rem 2rem 0.8rem;
        margin-bottom: 0;
       }
    .nav-desktop a{
        color: var(--dark-blue);
    }
    .login{
        background-color: var(--white);
    }
    /*------------------------Main-------------------------*/
    .subject h2{
        text-align: center;
    }
       /*---------------Submit your query-----------------*/
   .help-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.help p{
    text-align:left;
    margin: 0;
}
 .help button{
    padding: 1rem 2rem;
    white-space: nowrap;
}
/*---------------footer----------------------------*/
 /*---------------footer----------------------------*/
 .ft-main {
    background-color:var(--white);
    color: var(--dark-blue);
    padding-bottom: 0;
    padding-top: 1rem;
}
 .first-footer {
     display: flex;
     flex-direction: row-reverse;
     width: 100vw;
     justify-content: space-between;
     align-content: center;
     padding-left: 6.5rem;
    padding-right: 4rem;
 }

 .ft-logo {
     height: 2rem;
     width: 11rem;
    float: right;  
    align-self: center; 
    padding-right: 1rem;
    margin-right: 2.6rem;
 }
 .foot-li li {
       display: inline;
       padding-left: 1rem;
      color: var(--dark-blue);
 }
 .foot-list{
     align-self: center;
 }
 
 .footer1 {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    justify-content: space-between; 
    padding-left: 4rem;
    padding-right: 4rem;
 }
 .footer1 p {
     padding-top:1.5rem;
     color: (var(--dark-blue));
     letter-spacing: normal;
     padding-bottom: 0;
     padding-left: 0;
 }
 .parent-social{
     padding-right: 0;
 }
 .footer1{
     display: flex;
     align-items: center;
     justify-items: space-between;
     padding-left: 7.4rem;
     padding-right: 6.5rem;
 }
 .ft-main{
     border-bottom: 0.5rem solid var(--blue);;
 }
 
}