/* -------- HEADER---------*/
.logo {
    width: 40%;
    height: 60%;
}
.nav-desktop{
    display: none;
}
/*------------main-----------------*/
.querybox{
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
    height: auto;
    justify-content: center;
    align-content: center;
}
form{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.queries{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--white);
   margin-right: 1rem;
   margin-left: 1rem;
}
.heading h5{
    color:var(--blue);
    text-align: center;
    border-bottom:0.1rem solid var(--grey);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.input-box{
  margin: 0.5rem 1rem;
}
.input-box input{
    margin-bottom: 0rem;
    border: 0.1rem solid var(--border-grey);
}
textarea{
    border: 0.1rem solid var(--border-grey);
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom:10rem;
    margin-bottom: 1rem;
}
textarea:placeholder-shown{
    padding-left: 0.5rem;
}
.btn{
    display:flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn button{
    padding: 1rem 5.4rem;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
    white-space: nowrap;
}
.footer{
    background-color: var(--light-blue);
    text-align: center;
}
@media only screen and (min-width:768px){
    /*---------------Navigation--------------------------------*/
    .nav-bar{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .logo{
        width: 10rem;
    }
    .queries{
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 2.5rem;
    }
    .btn button{
        padding:1rem 10.5rem;
    }
    .footer{
        margin-bottom: 3rem;
    }
}
@media only screen and (min-width:1024px)
{   
     /*-----------------padding-----------------*/
   .nav-bar{
    padding-left: 4rem;
    padding-right: 2rem;
}
/*-------------Navigation------------------*/
.icon{
    display: none;
}
.logo{
    width: 12rem;
    height: 2rem;
    padding-left: 3rem;
}
.nav-desktop{
    display: flex;
    flex-direction: row;
}
.nav-desktop li{
    display: inline;
    padding-left: 1rem;
}
.menu {
    padding-right: 7rem;
    align-self: center;
}
.menu-buttons{
    display: flex;
    align-items: center;
    padding-right: 7rem;
}
.login{
    border: 0.007rem solid var(--dark-blue);
    background-color: var(--white);
    padding: 0.7rem 1.5rem 0.7rem;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    margin-right: 0.2rem;
   }
   #quote{
    border: 0.007rem solid var(--dark-blue);
    border-radius: 0.2rem;
    padding: 0.8rem 2rem 0.8rem;
    margin-bottom: 0;
   }
.nav-desktop a{
    color: var(--dark-blue);
}
.login{
    background-color: var(--white);
}
    .queries{
        margin-left: 20rem;
        margin-right: 20rem;
    }
    .btn button{
        padding:1rem 24.3rem;
    }
}