:root{
    --light-blue:rgb(148, 190, 221, 1);
    --dark-blue:rgb(34, 38, 63, 1);
    --white:rgb(255, 255, 255, 1);
    --blue:rgb(42, 135, 193, 1);
    --grey:rgb(199, 212, 217, 1);
    --dark-grey:rgb(189, 189, 189, 1);
    --grey-text:#6e6e6e;
}
/* -------- HEADER---------*/
.logo {
    width: 40%;
    height: 60%;
}
.nav-desktop{
    display: none;
}

/*--------FIND HOSPITALS-------------*/
.find {
    background-color: var(--light-blue);
}
.find-loc {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    background-color: white;      
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    vertical-align: center;
    padding-bottom: 0;
    margin-bottom: 0.625rem;
}

.loc-icon {
    width: 1.25em;
    padding-top: 0.3rem;
    color: var(--dark-grey);
}
.loc-icon {
    width: 1.25em;
}

#location {
    padding-bottom: 0.2rem;
}

/*----------HOW DOES THIS WORKS-----------------*/
#content-tablet-how
{display: none;}
.how-it-works {
    display: flex;
    flex-direction: column;
}
.room h5,.room p{
   margin-top: 1.27rem;
   margin-bottom: 0;
}
.parent-fi{
    display: flex;
    flex-direction: column;
}
.first {
    background-color:var(--white);
    color:var(--dark-blue);
     border: 0.125rem solid var(--dark-blue) ;
    }
.steps li {
    display: flex;
    flex-direction: row;
    height: 4rem;
    border-radius: 0.625rem;
    padding-left: 1rem;
    padding-top: 1rem;
    text-align: left;
}
.rest{
     background-color:var(--white);
    color: var(--grey);
    margin-bottom: 1rem;
    border: 0.125rem solid var(--grey) ;
    vertical-align: middle;
}
.number{
    color: var(--grey);
}
/*------------DOCTORS-------------*/
.doctors {
background-color: var(--dark-blue);
color: var(--white);
}
.about-doc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.125rem;
}
.doctors p {
color: var(--grey);
}
.doctors h6 {
    color: var(--blue);
}
.speciality {
    padding-bottom: 0.625rem;
}
figcaption {
    text-align: left;
    background-color: var(--white);
}
.speciality {
    text-align: left;
    background-color: var(--white);
    padding-left: 1.4rem;
}
.about-doc h6::before{
    display: inline-block;
    content: "";
    border-bottom: 0.1rem solid var(--blue);
    width: 1.4rem;
    vertical-align: 0.3rem;    
}
.speciality{
    color: black;
    border-bottom: 3px solid var(--light-blue);
}

/*--------------FEATURED TREATMENTS-----------------*/
.treatments{
    width:100%;
    height:22rem;
    margin: 1rem auto;
    position: relative;
}

.background{
    background-image: linear-gradient(to bottom, rgba(4,4,39,0), rgba(4,4,39,1));
    width:100%;
    height:100%;
    position: absolute;
}
.featured-treatments img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.details{
    text-align: left;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: white;
    margin:0;
}
.details p,.details h6{
    color:white;
    margin:0;
}
.details p:first-child{
    font-family:'nexa-bold';
    margin-bottom: 0.1rem;
}

/*--------------SERVICES AVAILABLE----------------*/
.services{
    display: flex;
    background-color: var(--grey);
}
.icons{    
    display: grid;    
    grid-template-columns: 9.5em 9.5rem;
    grid-template-rows: 9rem 9rem 9rem;
    grid-gap: 1rem 1rem;
    justify-content: center;
    align-content: center;
}
.icons figure { 
    width: 100%;
    background-color: var(--white);
    border-radius: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 0;
    margin-top: 0;
}
.icons img {
    height: 4rem;
    width: 5rem;
}
.icons h6 {
    padding-top: 0.8rem;
    word-break: break-all;
    color: var(--grey-text);  
}

/* ---------------HELP------------------*/
.help{
    background-color: var(--light-blue);
}

/*--------------FOOTER------------------*/
.ft-main {
    align-items: center;
    justify-content: center;
}
.ft-main li{
    color: var(--grey);
    padding-bottom: 1rem;
}
.ft-logo {
    width: 25vw;
    width: 25vh;
}
.social-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.fab {
    padding-right: 1.27rem;
}
.ft-final {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    display: inline-flex;
}
.ft-final p{
    font-size: 1rem;
    color: var(--grey);
}
.copyright-icon {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
@media only screen and (min-width:768px) and (max-width:1024px){
    /*---------------Navigation--------------------------------*/
    .nav-bar{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .logo{
        width: 10rem;
    }
    /*---------------Find Section for Tablet-------------------*/
    .find-form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }
    .find-loc {
        height: 4rem;
        border-right:0.0625rem solid var(--grey-text) ;
    }
    .primary {
        height: 4rem;
    }
    /*---------------HOW IT WORKS--------------------------------*/
    #content-mobile-how{
        display: none;
    }
    #content-tablet-how{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .first{
        margin-bottom: 1rem;
    }
    
    .room {
        width: 20rem;
        height: 21rem;
    }
   /*-----------------DOCTORS----------------------------------------*/
    .parent-doc {
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1rem;
    }
    /*-----------------Featured-Treatments----------------------------*/
    .parent-featured {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1rem;
    }
    .icons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    /*----------------help------------------------------------------*/
    .help{
        display: flex;
        flex-direction: column;  
    }
    .help button{
      width: 15rem;
        justify-self: center;
        align-self: center;
    }
    /*---------------footer-----------------------------------------*/
    
   .ft-main {
       background-color:var(--white);
       color: var(--dark-blue);
   }
    .first-footer {
        display: flex;
        flex-direction: row-reverse;
        width: 100vw;
        justify-content: space-between;
        align-content: center;
    }

    .ft-logo {
        height: 2rem;
        width: 11rem;
       float: right;  
       align-self: center; 
       padding-right: 1rem;
    }
    .foot-li li {
          display: inline;
          padding-left: 1rem;
         color: var(--dark-blue);
    }
    .foot-list{
        align-self: center;
    }
    
    .footer1 {
       display: flex;
       flex-direction: row-reverse;
       width: 100vw;
       justify-content: space-between; 
    }
    .ft-final p{
        color: var(--dark-blue);
    }
    .parent-ft-final {
        align-self: center;
        padding-top: 0.8rem;
        padding-left: 1rem;
    }
    .parent-social {
        align-self: center;
    }
}
@media only screen and (min-width:1024px){
    /*-----------------padding-----------------*/
    .find,.how-it-works,.doctors,.featured-treatments,.services,.help,.ft-main{
        padding: 3rem 5rem  ;
    }
    .nav-bar{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    /*-------------Navigation------------------*/
    .icon{
        display: none;
    }
    .logo{
        width: 12rem;
        height: 2rem;
        padding-left: 3rem;
    }
    .nav-desktop{
        display: flex;
        flex-direction: row;
    }
    .nav-desktop li{
        display: inline;
        padding-left: 1rem;
    }
    .menu {
        padding-right: 7rem;
        align-self: center;
    }
    .menu-buttons button{
        height: 2.5rem;
        width: 10rem;
        border: 0.007rem solid var(--dark-blue);
        border-radius:0.125rem;
    }
    .nav-desktop a{
        color: var(--dark-blue);
    }
    .login{
        background-color: var(--white);
    }
    /*-----------------Find Affordablt Healthcare------------------------*/
    .find{
        background-image:url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg");
        background-size:100% 100%;
        
    }
    .find-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
      }
      .find-loc {
        height: 4rem;
        border-right:0.0625rem solid var(--grey-text);
    }
    .primary {
        height: 4rem;
        width: 10rem;
    }
   .find p{
       text-align: left;
   }
   .container-find{
       width: 55%;
   }
   /*---------------HOW IT WORKS--------------------------------*/
       #content-mobile-how{
        display: none;
    }
    #content-tablet-how{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .steps li {
        height: 7rem;
        padding: 0;
    }
    .first{
        margin-bottom: 1rem;
        width: 42vw;
        border: 0.1rem solid var(--blue) ;
    }
   .first h5,.first span,.rest h5, .rest span{
       align-self: center;
   }
    .steps span{
        font-size: 1.7rem;
        align-self: center;
    }
    .rest span {
        padding-bottom:0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .droom img{
     height: 36rem;
     width: 35rem;
     align-self: center;
    }
    .droom{
        padding-left: 7rem;
    }
    .heading-how h1,.heading-how p{
        text-align: left;

    }
    .heading-how{
        margin-bottom: 2rem;
    }
   /*------------DOCTORS-------------*/
   
   .doctors p{
       text-align: left;
   }
   .parent-doc{
       display: grid;
       grid-template-columns: 25% 25% 25% 25%;
       overflow: hidden;
       grid-column-gap: 0.5rem;
   }
   /*----------------Featured Treatments--------------*/
   .heading-featured{
       text-align: left;
       padding-bottom: 1rem;
   }
   .parent-featured{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10,1fr);
    grid-gap:1rem;
}
.treatments{
    width:100%;
    height:100%;
}
.t1{
    grid-column: 4/7;
    grid-row: 1/6;
}

.t2{
    grid-column: 1/4;
    grid-row: 1/4;
}

.t3{
    grid-column:4/7;
    grid-row: 6/11;
}

.t4{
    grid-column: 7/10;
    grid-row: 1/5;
}

.t5{
    grid-column:7/10;
    grid-row: 5/11;
}
.t6{
    grid-column:1/4;
    grid-row:4/11;
}
   /*---------------Icons----------------------------*/
   .services p{
       text-align: left;
   }
   .icons{
    display: grid;
    grid-template-columns: 14rem 14rem 14rem 14rem 14rem 14rem;
    grid-template-rows: 100%;
    grid-column-gap: 0.1rem; 
   }
   .icons figure{
       border-radius: 0;
   }
   .icons h6{
       color: var(--dark-grey);
   }
   /*---------------Submit your query-----------------*/
   .help{
       display: flex;
       flex-direction: column;
   }
   .help p{
       text-align:left;
   }
    .help button{
    width: 20rem;
    height: 4rem;
}
   /*---------------footer----------------------------*/
   .ft-main {
    background-color:var(--white);
    color: var(--dark-blue);
    padding-bottom: 0;
}
 .first-footer {
     display: flex;
     flex-direction: row-reverse;
     width: 100vw;
     justify-content: space-between;
     align-content: center;
     padding-left: 4rem;
    padding-right: 4rem;
 }

 .ft-logo {
     height: 2rem;
     width: 11rem;
    float: right;  
    align-self: center; 
    padding-right: 1rem;
 }
 .foot-li li {
       display: inline;
       padding-left: 1rem;
      color: var(--dark-blue);
 }
 .foot-list{
     align-self: center;
 }
 
 .footer1 {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    justify-content: space-between; 
    padding-left: 4rem;
    padding-right: 4rem;
 }
 .ft-final p{
     color: var(--dark-blue);
 }
 .parent-ft-final {
     align-self: center;
     padding-top: 0.8rem;
     padding-left: 1rem;
 }
 .parent-social {
     align-self: center;
 }
 
   
} 