:root{
    --light-blue:rgb(148, 190, 221, 1);
    --dark-blue:rgb(34, 38, 63, 1);
    --white:rgb(255, 255, 255, 1);
    --offwhite:rgba(245,245,245,255);
    --blue:rgb(42, 135, 193, 1);
    --grey:rgb(199, 212, 217, 1);
    --dark-grey:rgb(189, 189, 189, 1);
    --white-text:rgb(251, 252, 252 );
    --text-grey:rgba(136,129,133,255);
    --border-grey:#f2f1f0;
}

@font-face{
font-family:"Nexa-Bold";
    src:url("../fonts/Nexa-Bold.otf") format('opentype');
}

@font-face {
    font-family:"Nexa-Light";
    src: url("../fonts/Nexa-Light.otf") format('opentype');
}
*{
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.625rem;
    font-family:"Nexa-Bold";
}
h1{
    font-size: 1.8rem;
    line-height:2rem;
    text-align: center;
    color: var(--dark-blue);
}
h2{
    font-size: 1.8rem;
    line-height:2rem;
    text-align: center;
    color: var(--white);
}
h3{
    font-size: 1.6rem;
    line-height:1.8rem;
}
h4{
    font-size: 1.4rem;
    line-height:1.6rem;
}
h5{
    font-size: 1.2rem;
    line-height:1.4rem;
}
h6{
    font-size: 1rem;
    line-height:1.2rem;
    color: var(--dark-blue);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section{
    display: flex;
    padding: 2rem 1rem;
    flex-direction: column;   
    text-align: center;
} 
p {
    font-family:"Nexa-Light";
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    color: var(--dark-blue);
}
input,select {
    font-family:"Nexa-Light";
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 0.625rem;
    padding: 0.8rem 0.75rem;
    border: none;
}
input::placeholder ,select::placeholder {
    display: inline-block;
    font-size: 0.9rem;
    color: var(--text-grey);
    text-overflow:ellipsis;
   
}
button {
    font-family: "Nexa-Light";
    font-size: 1rem;
    border: none;
    padding: 0.8rem 2rem;
}
.primary {
    color: var(--white);
    background-color: var(--dark-blue);
 }
 .secondary { 
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0.5rem;
    padding: 0.8rem 0rem 0.8rem;
     }

option {
    font-size: 0.9rem;
}

figure{
    margin: 1.25rem 0;
}
span {
    font-family: "Nexa-Bold";
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--blue);
    padding-left: 0.0625rem;
    padding-right: 0.625rem;
}
ul li,ol li {
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: "Nexa-Light";
    color:  var(--dark-blue);
}

a {
text-decoration: none;
}

label{
font-family: "Nexa-Light";
font-size: 1rem;
}
figcaption {
    font-size: 1.2rem;
    color: var(--blue);
    padding-top: 0.625rem;
}

footer{
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
}

@media only screen and (min-width:768px) and (max-width:1024px){
  
    h1,h2{
        font-size: 2rem;
        line-height:2.2rem;
    }
    
    h3{
        font-size: 1.8rem;
        line-height:2rem;
    }
    h4{
        font-size: 1.6rem;
        line-height:1.8rem;
    }
    h5{
        font-size: 1.4rem;
        line-height:1.6rem;
    }
    h6{
        font-size: 1.2rem;
        line-height:1.4rem;   
    }
    section {
        padding: 2rem 3rem;
        display: flex;
    }

    p{
        font-size: 1.1rem;
        line-height: 1.2rem;
        margin-bottom: 1rem;
    }
    input,select{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    button {
        font-size: 1rem;
    }
    li {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
}

@media only screen and (min-width:1025px)
{
    h1,h2{
        font-size: 2rem;
        line-height:2.2rem;
        text-align: left;
    }
    
    h3{
        font-size: 1.8rem;
        line-height:2.0rem;
    }
    h4{
        font-size: 1.6rem;
        line-height:1.8rrem;
    }
    h5{
        font-size: 1.4rem;
        line-height:1.6rem;
    }
    h6{
        font-size: 1.2rem;
        line-height:1.4rem;   
    }
    section {
        padding: 3rem 4rem;
    }
    p{
        font-size: 1rem;
        line-height: 1.6rem;
        margin-bottom: 2rem;
    }
    input,select{
        font-size: 1.5rem;
        line-height: 1.6rem;
    }
    button {
        font-size: 0.8rem;
    }
    li {
        font-size: 1rem;
        line-height: 1.3rem;
    }
    span{
        font-size: 2rem;
        line-height: 2rem;
    }
}